<div class="container">
  <% @rounds.each do |round| %>
    <% round.games.each do |game| %>
        <p>
          <%= Team.find(game.team1_id).name %><br />
          <% if game.team2_id != nil %>
            <%= Team.find(game.team2_id).name %>
          <% else %>
            Bye
          <% end %>
        </p>
    <% end %>
  <% end %>
</div>
