<!DOCTYPE HTML>
<html>
  <head>
    <title>Bracket Builder</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <% if @js %>
      <% @js.each do |script| %>
        <%= "<script src=\"/javascripts/#{script}.js\"></script>" %>
      <% end %>
    <% end %>
  </head>
  <body>
    <div class="header">
      <div class="container">
        <a href="/">
          <div class="logo">
            <img src="/images/Bracket-Builder_Logo.png" style="margin: 0 10px -6px 0; display: inline-block" /> Bracket Builder
          </div>
        </a>
        <div class="link">
          Login
        </div>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
